In [1]:
# adding meta data for coords points

In [3]:
import pandas as pd
import pyodbc

In [18]:
# parameters
server ='ARX-pharmfed'
db ='PHARMDB'
UID = 'SQL.Research'
PWD ='R3search'


# create the connection
#conn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER=ARX-pharmfed;DATABASE=ResearchDB;UID=SQL.Research;PWD=R3search')
conn = pyodbc.connect('DRIVER={SQL Server};SERVER=' + server + ';DATABASE=' + db + ';UID=' + UID + ';PWD=' + PWD)

# query db sql 자리에 쿼리를 복사해서 넣으면 됨. 
sql ="""SELECT [PharmacyID]
      ,[fac_id]
	  , substring(dsps_dtm, 1,8) as yyyymmdd
	  ,count(*) as pack
	  , count(*) * 1.4 as estimated
into #temp1234
  FROM ETL..[Dsps_medicine_history] (nolock)
  where dsps_dtm between '20200125000000' and '20200130000000'
  
  group by [PharmacyID]
      ,[fac_id], substring(dsps_dtm, 1,8)

order by pharmacyID, fac_id, substring(dsps_dtm, 1,8)

select *,sum(estimated) over (partition by fac_id order by yyyymmdd) as cum

from #temp1234
order by pharmacyID, fac_id"""

df = pd.read_sql(sql, conn)
df.to_csv('data/raw/dsps.csv', index=False, header=True)

TypeError: 'NoneType' object is not iterable

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72083 entries, 0 to 72082
Data columns (total 5 columns):
PharmacyID    72083 non-null object
fac_id        72083 non-null object
dsps_num      72083 non-null object
dsps_dtm      72083 non-null object
change_dtm    72083 non-null object
dtypes: object(5)
memory usage: 2.7+ MB